* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}


.app {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    width: 100%;
    height: 100px;
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

}

header input {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    padding: 20px;
    font-size: 18px;
    background-color: #373b69;
    border: 2px solid #22254b;
    color: #fff;
}

header input:focus {
    outline: none;
    background-color: #22254b;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #22254b;
    display: flex;
    flex-wrap: wrap;
}

.cart {
    flex: 1;
    width: 300px;
    height: 520px;
    background-color: #373b69;
    margin: 10px;
    overflow: hidden;
    position: relative;
    
}

.cart .img {
    width: 100%;
    height: 450px;
}

.cart .infor {
    width: 100%;
    padding: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .infor .point {
    height: 28px;
    width: auto;
    background-color: #22254b;
    font-size: 20px;
    font-weight: 700;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
}

.cart .infor .name {
    margin-bottom: 24px;
    color: #fff;
}

.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    transform: translateY(100%);
    padding: 24px;
    background-color: #fff;
    transition: all .3s linear;
}

.title h2 {
    margin-bottom: 10px;
}

.title span {
    font-size: 18px;
    line-height: 24px;
}

.cart:hover .title {
    transform: translateY(0);
}




